@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic&display=swap');

html {
  scroll-behavior: smooth;
  scroll-padding: 50px 0 0 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer components {
  .title {
    @apply absolute top-28 uppercase tracking-[20px] font-helvetica font-semibold text-2xl text-gray-300 pl-4;
  }

  .heroButton {
    @apply relative text-xl uppercase tracking-wider w-full px-4 md:px-2 py-4 before:w-[3px] before:h-[0] before:bg-white before:absolute before:left-0 before:bottom-1 hover:before:h-full before:md:hidden before:ease-in-out before:duration-300 after:hidden after:w-[0] after:h-[3px] after:bg-white after:absolute after:left-0 after:bottom-2 hover:after:w-full after:md:block after:ease-in-out after:duration-300 after:rounded-sm before:rounded-sm;
  }

  .contactCard {
    @apply w-full flex flex-col justify-center items-center border-2 border-[#f2f2f2]/80 p-4 rounded-xl text-center;
  }

  .contactCardIcon {
    @apply mb-1 translate-y-[1px];
  }
}

.bg,
.bg::before,
.bg::after {
  background: rgba(247, 171, 10, 0.8) !important;
}

.swiper-pagination {
  position: absolute;
  display: none;
  justify-content: flex-end;
  z-index: 10 !important;
}

.swiper-pagination-bullet {
  background: #f2f2f2 !important;
  transition: all 0.4s ease-in-out;
}

.swiper-pagination-bullet-active {
  background: #f7ab0a !important;
  transition: all 0.4s ease-in-out;
  width: 1rem !important;
  border-radius: 0.5rem !important;
}

@media screen and (min-width: 768px) {
  .swiper-pagination {
    display: flex;
  }
}
